@import "../../../../assets/styles/colors";

.container {
  max-width: 1200px;
  padding: 60 30px;
  margin: 0 auto 40px auto;
  h1 {
    font-size: 2.25rem;
    color: $primary-black-color;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .poster_container {
    position: relative;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 2px 6px 8px rgba(0, 0, 0, 0.3);
    &:hover {
      div {
        animation: showInfo 0.3s forwards;
      }
    }
    div {
      border-radius: 4px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #303846aa;
      color: $primary-white-color;
      font-size: 1.125rem;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      opacity: 0;
    }
    img {
      border-radius: 4px;
      width: 200px;
      height: 300px;
    }
  }
}

@keyframes showInfo {
  to {
    opacity: 1;
  }
}
