@import "../../../../assets/styles/colors";

.movie_container {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  padding: 30px 0;
  gap: 20px;
  color: $primary-white-color;

  img {
    width: 200px;
    height: 300px;
    border-radius: 4px;
  }
  h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    font-weight: 700;
  }
  span {
    font-size: 1.25rem;
    color: $secondary-white-color;
  }
  button {
    margin-top: 20px;
  }
}
