$lighter-primary-color: #3091ff;
$light-primary-color: #2072e5;
$primary-color: #1155cc;
$dark-primary-color: #063c99;
$darker-primary-color: #002073;

$lighter-secondary-color: #ff7e3d;
$light-secondary-color: #ff662e;
$secondary-color: #f94e1b;
$dark-secondary-color: #cc380c;
$darker-secondary-color: #a62100;

$primary-white-color: #d2d7df;
$secondary-white-color: #acb3bf;
$terciary-white-color: #ebeef2;

$primary-black-color: #303846;
$secondary-black-color: #212733;
$terciary-black-color: #4c5361;
